body {
	font-family: 'Open Sans', sans-serif !important;
}

.logo-hanover {
	width: 140px;
}

@media (max-width: 768px) {
	.logo-hanover {
		width: 100px;
	}
}

.bd-placeholder {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-lg {
	font-size: 3.5rem;
  }
}
