body {
	font-family: 'Open Sans', sans-serif !important;
}

.logo-hanover {
	width: 140px;
}

@media (max-width: 768px) {
	.logo-hanover {
		width: 100px;
	}
}
.hanover-jumbotron{
	width: 100%;
	height: 400px;
	display: block;
}

.hanover-jumbotron::after{
	content: '';
	top: 0;
	left: 0;
	position: absolute;
	background-color: rgba(0, 0, 0,.6);
	width: 100%;
	height: 100%;
	display: block;
}

.hanover-jumbotron .container-fluid{
	z-index: 5;
	
}